services:
  api:
    container_name: ${PACKAGE_NAME}
    image: ${DOCKER_USERNAME}/${PACKAGE_NAME}:${PACKAGE_VERSION}

    build:
      context: .
      dockerfile: Dockerfile

    volumes:
      - .:/app
      - ./data:/app/data

    ports:
      - '${PORT}:${PORT}'

    env_file:
      - .env

    environment:
      GO_ENV: development
      PORT: 8080

    command: ["air", "-c", ".air.toml"]

    restart: always
